extends layout

block content
  h1= title
  p Welcome to #{title}

  //form
  select(id='Method')
    option(value='', class='placeholder') Método
    option(value='select') Select
    option(value='insert') Insert
    option(value='update') Update
    option(value='delete') Delete
  input(type='text', id='FirstName', placeholder='First Name')
  input(type='text', id='LastName', placeholder='Last Name')
  input(type='text', id='Address', placeholder='Address')
  input(type='text', id='Movil', placeholder='Movil')

  a(class="button", id="btnProbar") Send

  //viewer
  div(id='tablero', data-toggler, data-animate="fade-in fade-out", class="callout secondary")
