doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/style.css')

    script(src="js/vendor/jquery/dist/jquery.min.js")
    script(src="js/dist/js/foundation.min.js")
    script(src="js/dist/js/plugins/foundation.util.motion.min.js")
    script(src='js/myapp.prueba.js')
  body
    block content
